<article>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20u.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20dos.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20cavas/cava%20tres.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20u.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20dos.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/gin/gin%20tres.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20u.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20dos.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/ron/ron%20tres.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi blanc/blanc%20u.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi blanc/blanc%20dos.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi%20blanc/blanc%20tres.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20u.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20dos.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi negre/negre%20tres.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosat%20u.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosat%20dos.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20vins/vi rosat/rosaat%20tres.png"><br><h3>Comprar ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20tres.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20dos.png"><br><h3>Compra ara</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href=""><img src="assets/imatges/fotos%20licors/whiskey/wiskey%20u.png"><br><h3>Compra ara</h3></a></div>
  </div>
</article>
