<html lang="en" style="height: 100%">
<head>
  <meta charset="UTF-8">
  <title>Catàleg: Champ of Wine</title>
  <link rel="stylesheet" href="cataleg.component.css">
</head>
<body style="height: 100%">

<article>
  <div class="caixa">
    <div class="imatge"><a href="cataleg_vi.html"><img src="imatges/fotos vins/vino.jpg"><br><h3>Vins</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href="cataleg_cava.html"><img src="imatges/fotos cavas/cava.jpg"><br><h3>Cavas</h3></a></div>
  </div>
  <div class="caixa">
    <div class="imatge"><a href="cataleg_licors.html"><img src="imatges/fotos licors/licor.jpg"><br><h3>Licors</h3></a></div>
  </div>0
</article>

</body>
</html>
