<article>
  <form class="form-login">
    <h1>Inicia sessió</h1>
    <label for="nom">Nom d'usuari: </label>
    <input class="controls" type="text" name="nom" id="nom" placeholder="" required>
    <br>
    <label for="password">Contrasenya: </label>
    <input class="controls" type="password" name="contrasenya" id="password" placeholder="" required>
    <br>
  </form>
  <br>
  <br>
  <p>Estic d'acord amb els <a routerLink="/condicions" routerLinkActive="active" >Terminis i Condicions</a> </p>
  <p>Ja tens un compte? <a routerLink="/registre" routerLinkActive="active">Inicia sessió</a> </p>
  <button id="login" type="submit" value="iniciaSessió">Iniciar Sessió</button>
</article>
